<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mfs100" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>MFS100_FingerPrintScanner</name><js-module name="MFS100_FingerPrintScanner" src="www/MFS100_FingerPrintScanner.js"><clobbers target="cordova.plugins.MFS100_FingerPrintScanner" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="MFS100_FingerPrintScanner"><param name="android-package" value="cordova-plugin-mfs100.MFS100_FingerPrintScanner" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/MFS100_FingerPrintScanner.java" target-dir="src/cordova-plugin-mfs100/MFS100_FingerPrintScanner" /><source-file src="src/android/libs/mfs100.jar" target-dir="libs" /></platform></plugin>
